@font-face {
    font-family: 'Pixel';
    src: url('fonts/FONT.ttf') format('truetype');
  }

* { margin: 0; padding: 0;}

body, html { height:100%; }

#canvas {
    position:absolute;

}