@font-face {
    font-family: 'Pixel';
    src: url('./fonts/pixel.ttf') format('truetype');
  }

* { margin: 0; padding: 0;}

body, html {
  height: 100%;
  overflow: hidden;
  touch-action: none;
}

#canvas {
    position: absolute;
}